button{
  background-color: indigo;
  color: aliceblue;
  padding: 5px 20px;
  border: slategrey 1px solid;
  border-radius: 5px;
}
.information_div{
  background-color: antiquewhite;
  border: purple solid 1px;
  border-radius: 10px;
  width: 300px;
}

h6{
  font-size: 20px;
  height: 100px;
}

.ship_small_container{
  border: cornflowerblue 1px solid;
  background-color: lightskyblue;
  border-radius: 15px;
  height: 400px;
}